{% extends 'main.html' %}

{% block content %}
<center> <h1> This is the home page</h1>


Redirects to different pages of the app


<form action="" method="POST"> {% csrf_token %}

    <textarea name="keyword_form" id="" cols="35" rows="1" placeholder="Type In a Title or Keyword To Begin"></textarea>
    <input type="submit" value="Optimize"> 

</form>

<br>
<br>

             <br>


    <br>


   Difficulty - {{Competition}} <br><br>
    The total view count of the top 10 videos for this keyword is {{ReadableTVC}} <br><br>
   {{trends_data}} <br><br>


   SUGGESTED SEARCH TERMS:
{% for search_term in suggested %}

    <br>
    <a href="#"> {{search_term}} </a> 

    {% endfor %}
    
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        </head>
        <body>
        
        <h2>Videos Based On Keyword</h2>
        
        <table>
          <tr>
            <th>Title</th>
            
          </tr>
          {% for video in videos %}
          <tr id="video_info">
            <td>{{video.title}}</td>
            <td id="tag-{{forloop.counter}}">-{{video.tags}}
              <button id="copy-tag-{{forloop.counter}}" onclick="getID(this); copyTags()">COPY TAG</button>
            </td> 
          </tr>
             {%endfor%}
          </table>
          
        

          <!-- <th>Description</th>

          {% for tag in video_tags %}
          <tr>
            <td>{{tag}}</td>
          </tr>
          {%endfor%}
            </tr> -->

    <script>
      var tag1 = document.getElementById("tag-2")
      console.log(tag1.innerHTML)

      // Get the ID of the button that was clicked
      function getID(btn){
        globalThis.tag_Btn_Id = btn.id;
        //alert(btn.id)
            }
      

      //Initializing Getting the individual tag according to the button clicked
      function copyTags(){
      // let tag_id = ""
      // var tag = document.getElementById(tag_id)

      //Finding out what button was clicked

      switch(tag_Btn_Id){
        case "copy-tag-1":
          globalThis.tag = document.getElementById("tag-1").innerText
            alert(tag)
          break;
        case "copy-tag-2":
          globalThis.tag = document.getElementById("tag-2").innerText
            alert(tag)
            break;
        case "copy-tag-3":
          globalThis.tag = document.getElementById("tag-3").innerText
            alert(tag)
            break;
        case "copy-tag-4":
        globalThis.tag = document.getElementById("tag-4").innerText
            alert(tag)
            break;
        case "copy-tag-5":
          globalThis.tag = document.getElementById("tag-5").innerText
            alert(tag)
            break;
        case "copy-tag-6":
          globalThis.tag = document.getElementById("tag-6").innerText
            alert(tag)
            break;
        case "copy-tag-7":
          globalThis.tag = document.getElementById("tag-7").innerText
            alert(tag)
            break;
        case "copy-tag-8":
          globalThis.tag = document.getElementById("tag-8").innerText
            alert(tag)
            break;
        case "copy-tag-9":
          globalThis.tag = document.getElementById("tag-9").innerText
            alert(tag)
            break;
        case "copy-tag-10":
          globalThis.tag = document.getElementById("tag-10").innerText
            alert(tag)
            break;
        default:
          globalThis.tag = document.getElementById("tag-1").innerText
            alert(tag)
      }

      

      //Copy the tag the coreesponds to the right button clicked

      let ourText = tag;
      let textarea = document.createElement('textarea');
      textarea.width = '1px';
      textarea.height = '1px';
      textarea.value = ourText;
      document.body.append(textarea);
      textarea.select();
      document.execCommand('copy');
     // textarea.style = "display: None"
    }
    </script>

</center>
{% endblock %}