{% extends 'main.html' %}

{% block content %}

<center>

 <!-- Meter Guage to check best practices -->
    <div id="gauge-container" style="visibility: ;">
        <div class="gauge">
            <div class="gauge__body">
              <div class="gauge__fill"></div>
              <div class="gauge__cover"></div>
            </div>
          </div>
    </div>

 <!-- This is the Thumbnail Input field -->
<input accept="image/*" type='file' id="imgInp" /> 

<div id="imageContainer">

  <div class="image-preview" id="imagePreview">
    <img src="" alt="Image Preview" class="image-preview__image" width="480px" height="260px">
    <span class="image-preview__default-text"> Image Preview</span>
  </div>

</div>
   
</center>



<center> <h1> This is the main page </h1> 

        <form action="" method="POST"> {%csrf_token%}

        <input type="text" id="keyword_form" name="keyword_form">
        <input type="submit" value="Optimize" id="optimize" onclick="add_to_optimization()" name="optimize">

        </form>
        
    

<br>
<br>
<br>


<div id="seo-container" style="visibility: None;"> 
<h3> This is the In-page optimization section </h3>
<form method="POST" id="seo-form" enctype="multipart/form-data">  {%csrf_token%}
    
    Title: <p value="{{user_keyword}}">{{optimization_form.title}}</p> <br>
    Description: {{optimization_form.description}} <br>
    Tags: {{optimization_form.tags}} <br>
    Thumbnail: {{optimization_form.thumbnail}} <br>
    <input type="submit" value="Save" name="save">
</form>

<form method="POST"> {%csrf_token%}
    <input type="text" value="Test Input">

    <input type="submit" value="submit" name="testbutton">
</form>

<br>
<p>Popular Searches On YouTube Based on Your Keyword</p>
{%for tag in tags%}

  {{tag}},

{% endfor %}
<br>


<li id="first-point"> 

    Put your title in the first line of your Description

</li>
<li id="50-words"> 

    Write up to 50 words 

</li>
<li id="partial-matches"> 

    Partial matches of your title in the Description 

</li>
<br>

<p id="desc_checker">  </p> <br>
<p id="new_p"></p>


<form action="{% url 'thumbnails'%}">
    <input type="submit" value="View Thumbnails" name="ViewThumbnails"> <br>
    <textarea name="user_keyword" id="user_keyword" cols="20" rows="1" style="visibility: hidden;"></textarea>
    
</form>



<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for video in YTVideos %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.thumbnail }}" alt="" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="card-body">
              <p class="card-text">{{ video.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</center>

<script>

  const inpFile = document.getElementById("imgInp");
  const previewContainer =  document.getElementById("imagePreview");
  const previewImage =  previewContainer.querySelector(".image-preview__image");
  const previewDefaultText =  previewContainer.querySelector(".image-preview__default-text");

  inpFile.addEventListener("change", function(){
    const file = this.files[0];

    if (file){
      const reader = new FileReader();

      previewDefaultText.style.display = "none";
      previewImage.style.display = "block";

      reader.addEventListener("load", function(){
        console.log(this);
        previewImage.setAttribute("src", this.result);
      });

      reader.readAsDataURL(file);

    } else{
      previewDefaultText.style.display = null;
      previewImage.style.display = null;
      previewImage.setAttribute("src", "");
    }

  });
</script>

 {% endblock %}
