{% extends 'main.html' %}

{% block content %}



<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Optimization Page</title>
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

      <!-- fontawesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  
      <!-- tagify -->
      <link rel="stylesheet" href="../static/fiverr_tagify/tagify.css">
  
      <!-- style css -->
      <link rel="stylesheet" href="../static/fiverr_css/fiverrstyle.css">
</head>
<body>
  


   <!-- main wrapper -->
   <section class="wrapper py-5">
    <div class="container">

        <table class="table mt-4">
            <tr>
                <td class="border-0">
                    <img src="../static/fiverr_img/incog.png" class="img-fluid" alt="">
                </td>
                <td class="border-0 bg-light ps-5">
                    <p class="mb-0 fs-20">
                        You might get suggested next to one of the videos below by copying their tags and title (Do this if you feel both your contents are on <a href="" class="text-danger">same topic</a> )
                    </p>
                </td>
            </tr>
        </table>



        <div class="row mt-4">

            <!-- TOP VIDEOS BAR (ON THE LEFT) -->
            <div class="col-md-3 will100">
                <div class="card  bg-light">
                    <div class="card-header bg-green text-center">
                        <h4 class="mb-0">Top Videos</h4>
                    </div>
                    <!-- TOP VIDEOS FOR LOOP HERE -->
                   <div class="searchField p-2">
                   {% for video in videos %}
                        <div class="row">
                            <div class="col-4">
                                <img src="{{ video.thumbnail }}" class="img-fluid" alt="">
                            </div>
                            <div class="col-8">

                                <p class="mb-0" id="title-{{forloop.counter}}" style="font-size:12px">{{video.title}}</p>
                                <p style="display: none; overflow:hidden;"  class="mb-1" id="description-{{forloop.counter}}">{{video.description}} </p>
                                <p class="mb-2" style="display: null; font-size:10px; opacity: 60%;" id="viewCount-{{forloop.counter}}">Views-{{video.viewCount}} </p> 
                                <p class="mb-2" id="date-{{forloop.counter}}" style="font-size:10px; opacity: 60%;">Date Published{{video.datePublished}}</p> 
                                <button id="copy-tag-{{forloop.counter}}" class="btn btn-info ms-0" onclick="getID(this); copyTags();">COPY TAG</button>
                                <p style="display: none;" id="tag-{{forloop.counter}}">{{video.tags}} </p>
                              
                              
                                <!-- <a href="" class="btn btn-info ms-0">copy</a> -->
                            </div>
                        </div>
                        <hr>
               {%endfor%}
              </div>

                    <!-- FOR LOOP ENDS HERE -->
                </div>
            </div>
            <!-- ENDS HERE -->

            <!-- META SEO SECTION -->
            <div class="col-md-6 will100">
                <div class="card h-100 bg-light">
                    <div class="card-header bg-green text-center">
                        <h4 class="mb-0">Metadata SEO</h4>
                    </div>
                    <div class="p-2">
                        <form action="">
                            <div class="mb-3">
                                <label for="">Title</label>
                                <input type="text" class="form-control" placeholder="Enter title" name="" id="">
                            </div>
                            <div class="my-3">
                                <label for="">Description</label>
                                <textarea name="" class="form-control" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div class="mt-3">
                                <label for="">Tags</label>
                                <input required name="tags" class="form-control" placeholder="write some tags" value="tag">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ENDS HERE -->


            <!-- OPTIMIZATION SECTION (RIGHT) -->
            <div class="col-md-3 will100">
                <div class="card bg-light h-100">
                    <div class="card-header bg-green text-center">
                        <h4 class="mb-0">Optimization Strentgh</h4>
                    </div>
                    <div class="p-2">
                      
                      <div id="gauge-container" style="visibility: null;">
                        <div class="gauge">
                            <div class="gauge__body">
                              <div class="gauge__fill" style="visibility: hidden;"></div>
                              <div class="gauge__cover"></div>
                            </div>
                          </div>
                    </div>
                        </div>
                        
                        <ul class="mt-3 text-starts">
                            <li class="fs-13" id="first-point">
                                Copy & Paste your title in the first line of your description
                            </li>
                            <li class="fs-13">
                              Add anything to your life e.g. "2021"
                          </li>
                            <li class="fs-13">
                                What is your video about? write in the description
                            </li>
                            <li class="fs-13" id="partial-matches">
                                Use partial matches in your title and description
                            </li>
                            <li class="fs-13" id="50-words">
                                Write up to 50 words
                            </li>
                            <li class="fs-13">
                                Use releavant tags (use add button below)
                            </li>
                        </ul>   
                        <form action="">
                        
                            <textarea name="tags" class="form-control" id="" cols="30" rows="3">
                              {%for tag in tags%}
                                  {{tag}},
                              {% endfor %}
                            </textarea>
                            <div class="text-end mt-3">
                                <button class="btn btn-info">ADD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ENDS HERE -->

            <div class="col-12 mt-4">
                <div class="text-end">
                  <form action="{% url 'view_current_opt'%}">
                    <input type="submit" class="btn btn-danger px-4" value="VIEW" name="ViewThumbnails" onclick="getMeta()"> <br>
                    <textarea name="opt_title" id="opt_title" cols="20" rows="1" style="display: None;"></textarea>
                    <textarea name="opt_description" id="opt_description" cols="20" rows="1" style="display: None ;"></textarea>
                    <textarea name="opt_tags" id="opt_tags" cols="20" rows="1" style="display: None;"></textarea>      
                  </form> 
                    <input type="submit" class="btn btn-success px-4" value="SAVE" name="save">                 
                    <!-- <button class="btn btn-danger px-4">VIEW</button>
                    <button class="btn btn-success px-4">SAVE</button> -->
                </div>
            </div>
        </div>
       
    </div>
</section>

<!-- main wrapper -->


</body>
<script>

  $(document).ready(function() {
    var keyword = document.getElementById('id_keyword').value
    var title = document.getElementById('id_title')
    var description = document.getElementById('id_description')
    var tags = document.getElementById('id_tags')
  
    title.value = keyword;
    description.value = keyword;
    tags.value =keyword;
  })
  
  
  //GETTING DATE AND DIFFERENCE
  var dates = []
  var allDateDifference = []
  const date=new Date();
  
  for ( let i=1; i<21; i++){
      dates[i] =  document.getElementById("date-"+i).textContent
  
  
  
  var now = date.toISOString()
  var dateFormat1 = new Date(dates[i]).toISOString()
  var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
  
  var FirstDateInSeconds = Date.parse(dateFormat1);
  var SecondDateInSeconds = Date.now()
  
  //console.log(SecondDateInSeconds)
  
  
  var differenceInTime = SecondDateInSeconds - FirstDateInSeconds
  
  var differenceInDays = differenceInTime / oneDay
  allDateDifference.push(differenceInDays)
  }
  
  
  console.log(allDateDifference)
  
  for (let i=0; i<21; i++){
  
  if (allDateDifference[i] <= 1.5){
    document.getElementById("video_info-" + (i+1)).style="background-color: Red;"
  }
  
  else if (allDateDifference[i] <= 3.5){
    document.getElementById("video_info-" + (i+1)).style="background-color: Orange;"
  }
  
  else if (allDateDifference[i] <= 5.5){
    document.getElementById("video_info-" + (i+1)).style="background-color: Yellow;"
  }
  
  }
  
  
  </script>
<script src="../static/fiverr_jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<!-- <script src="fiverr_gauge/kuma-gauge.jquery.js"></script>
<script src="fiverr_tagify/jQuery.tagify.min.js"></script> -->
<script src="../static/fiverr_js/main.js"></script>


</html>

{% endblock %}


<!-- 
<center>
 Meter Guage to check best practices
    <div id="gauge-container" style="visibility: null;">
        <div class="gauge">
            <div class="gauge__body">
              <div class="gauge__fill" style="visibility: hidden;"></div>
              <div class="gauge__cover"></div>
            </div>
          </div>
    </div>
This is the Thumbnail Input field
<input accept="image/*" type='file' id="imgInp" /> 

<div id="imageContainer">

  <div class="image-preview" id="imagePreview">
    <img src="" alt="Image Preview" class="image-preview__image" width="480px" height="260px">
    <span class="image-preview__default-text"> Image Preview</span>
  </div>

</div>
   
</center>



<center> <h1> This is the main page </h1> 

<br>


<div id="seo-container" style="visibility: None;"> 
<h3> This is the In-page optimization section </h3>
<form method="POST" id="seo-form" enctype="multipart/form-data">  {%csrf_token%}

    <input type="text" value="{{keyword}}" id="id_keyword" style="display: none;">  <br>
    
    Title: {{optimization_form.title}} <br>
    Description: {{optimization_form.description}} <br>
    Tags: {{optimization_form.tags}} <br>
    Thumbnail: {{optimization_form.thumbnail}} <br>
    <input type="submit" value="Save" name="save">
</form>

<form method="POST"> {%csrf_token%}
    <input type="text" value="Test Input">

    <input type="submit" value="submit" name="testbutton">
</form>

<br>
<p>Popular Searches On YouTube Based on Your Keyword</p>
{%for tag in tags%}

  {{tag}},

{% endfor %}
<br>


<li id="first-point"> 

    Put your title in the first line of your Description

</li>
<li id="50-words"> 

    Write up to 50 words 

</li>
<li id="partial-matches"> 

    Partial matches of your title in the Description 

</li>
<br>

<p id="desc_checker">  </p> <br>
<p id="new_p"></p>





    
 <table>
            <tr>
              <th>Title</th>
            </tr>
            {% for video in videos %}
            <tr id="video_info-{{forloop.counter}}">
              <td id="title-{{forloop.counter}}">{{video.title}} 
                 <button id="copy-tag-{{forloop.counter}}" onclick="getID(this); copyTags();">COPY TAG</button>
              </td>
              <td style="display: none;" id="tag-{{forloop.counter}}">{{video.tags}}
              </td> 
            </td>
            <td style="display: none;" id="description-{{forloop.counter}}">{{video.description}} </td> 
            </td>
            <td style="display: null;" id="viewCount-{{forloop.counter}}">{{video.viewCount}} </td> 
            <th>Date Published</th>
  
            <td id="date-{{forloop.counter}}">{{video.datePublished}}</td> 
            </tr>
               {%endfor%}
            </table>
</center>  -->


