{% extends 'main.html' %}

{% block content %}

<center>

 <!-- Meter Guage to check best practices -->
    
    <div id="gauge-container">
        <div class="gauge">
            <div class="gauge__body">
              <div class="gauge__fill"></div>
              <div class="gauge__cover"></div>
            </div>
          </div>
    </div>
   
   
 <!-- This is the Thumbnail Input field -->
<input accept="image/*" type='file' id="imgInp" /> 

<div id="imageContainer">

  <div class="image-preview" id="imagePreview">
    <img src="" alt="Image Preview" class="image-preview__image" width="480px" height="260px">
    <span class="image-preview__default-text"> Thumbnail Image Preview</span>
  </div>

</div>
</center>


    <center><h1>This is the Seo Studio page</h1>


        <form method="POST"> {%csrf_token%}
             Title: {{form.title}} <br>
              Description: {{form.description}} <br>
              Tags: {{form.tags}} <br>
            <input type="submit" value="Save">
        </form>


        <li id="first-point"> 

    Put your title in the first line of your Description

</li>
<li id="50-words"> 

    Write up to 50 words 

</li>
<li id="partial-matches"> 

    Partial matches of your title in the Description 

</li>
<br>

<p id="desc_checker">  </p> <br>
<p id="new_p"></p>


<form action="{% url 'thumbnails'%}">
    <input type="submit" value="View Thumbnails" name="ViewThumbnails"> <br>
    <textarea name="user_keyword" id="user_keyword" cols="20" rows="1" style="visibility: hidden;"></textarea>
    
</form>
        </center>
        

<script>

  const inpFile = document.getElementById("imgInp");
  const previewContainer =  document.getElementById("imagePreview");
  const previewImage =  previewContainer.querySelector(".image-preview__image");
  const previewDefaultText =  previewContainer.querySelector(".image-preview__default-text");

  inpFile.addEventListener("change", function(){
    const file = this.files[0];

    if (file){
      const reader = new FileReader();

      previewDefaultText.style.display = "none";
      previewImage.style.display = "block";

      reader.addEventListener("load", function(){
        console.log(this);
        previewImage.setAttribute("src", this.result);
      });

      reader.readAsDataURL(file);

    } else{
      previewDefaultText.style.display = null;
      previewImage.style.display = null;
      previewImage.setAttribute("src", "");
    }

  });
</script>
        
{% endblock  %}


        


</body>
</html>






