{% extends 'main.html' %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search YouTube</title>
    

    <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

    <body>
 
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Search YouTube</h1>
      <p class="lead text-muted">Enter a keyword or title to begin</p>
      <form action="" method="post"> {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Username" name="keyword_form" id="keyword_form">
      </div>
      <p>
        <button htype="submit" class="btn btn-primary my-2" name="searchBTN" id="seachBTN" onclick="uploadWhenLloaded()">YouTube Search</button>
        <button htype="submit" class="btn btn-primary my-2">I'm Feeling Lucky</button>
      </p> 
    </form>
    </div>
  </section>

  <style>
    .image-preview{
      width: 300px;
      min-height: 100px;
      border: 2px solid lightgray;
      margin-top: 15px;

      display: flex;
      align-items: center;
      font-weight: bold;
      color: #cccccc;
      justify-content: center;
    }

    .image-preview__image{
      display: none;
      width: 100%;
    }


  </style>
<center><h1>This is the thumbnails page</h1>



    <!-- This is the Thumbnail Input field -->
    <input accept="image/*" type='file' id="imgInp"/> 

    <div id="imageContainer">
    
      <div class="image-preview" id="imagePreview">
        <img src="" alt="Image Preview" class="image-preview__image" width="100%" height="225">
        <span class="image-preview__default-text"> Image Preview</span>
      </div>
    </div>
    
    <!-- That ends here -->

<br>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for video in videos %}
        <div class="col-md-4" id="card-{{forloop.counter}}">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.thumbnail }}" alt="" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="card-body">
              <p class="card-text">{{ video.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>



</main>
<script>
//Changing the 10th card with user thumbnail
  var cardTen = document.getElementById("card-5")
  ourImage = document.getElementById("imageContainer")
  cardTen.replaceWith(ourImage)

  //Showing image as soon as uploaded
  const inpFile = document.getElementById("imgInp");
  const previewContainer =  document.getElementById("imagePreview");
  const previewImage =  previewContainer.querySelector(".image-preview__image");
  const previewDefaultText =  previewContainer.querySelector(".image-preview__default-text");

  inpFile.addEventListener("change", function(){
    const file = this.files[0];

    if (file){
      const reader = new FileReader();

      previewDefaultText.style.display = "none";
      previewImage.style.display = "block";

      reader.addEventListener("load", function(){
        console.log(this);
        previewImage.setAttribute("src", this.result);
      });

      reader.readAsDataURL(file);

    } else{
      previewDefaultText.style.display = null;
      previewImage.style.display = null;
      previewImage.setAttribute("src", "");
    }

  });
</script>

</body>
</html>
{%endblock%}